@model AutoFactWeb.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Accueil";
}

<main>
    <sl-tab-group>
        <sl-tab slot="nav" panel="processed">
            <sl-button variant="text">
                Traitée
                <sl-badge pill>@Model.ProcessedCount</sl-badge>
            </sl-button>
        </sl-tab>
        <sl-tab slot="nav" panel="error">
            <sl-button variant="text">
                Erreur
                <sl-badge pill variant="danger">@Model.ErrorCount</sl-badge>
            </sl-button>
        </sl-tab>

        <sl-tab-panel name="processed">
            <h1>Factures traitées (@Model.ProcessedCount)</h1>
            @if (@Model.ProcessedCount == 0)
            {
                <p style="text-align:center;">Aucune facture traitée.</p>
            }
            else
            {

                <table style="width:100%;">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Fournisseur</th>
                            <th>Date de réception</th>
                            <th>Montant</th>
                            <th>Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invoice in Model.ProcessedInvoices)
                        {
                            <tr>
                                <td>@invoice.Number</td>
                                <td>@(invoice.Supplier?.Name ?? "Fournisseur inconnu")</td>
                                <td>@invoice.ReceivedDate.ToString("dd/MM/yyyy") </td>
                                <td>@invoice.Amount</td>
                                <td>@(invoice.PredictedDepartment?.Label ?? "")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </sl-tab-panel>

        <sl-tab-panel name="error">
            <h1>Factures en erreur (@Model.ErrorCount)</h1>
            <table>
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Chemin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var invoice in Model.FailedInvoices) {
                        <tr>
                            <td>@invoice.Number</td>
                            <td>@invoice.FilePath</td>
                        </tr>
                    }
                </tbody>
            </table>

        </sl-tab-panel>

    </sl-tab-group>

</main>